<!-- Communities Page or Page for communities search and create-->

{% extends "community/base.html" %}

{% load static%}

{% block customstyle%}


<link rel="stylesheet" href="{% static 'geocommunity/index_style.css' %}">
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
<script src="{% static 'fontawesomefree/js/all.min.js' %}" defer></script>
<script src="{% static 'posts/outmodal.js' %}" defer></script>

<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin="" defer></script>
<script src="{% static 'geocommunity/leaflet.rotatedMarker.js' %}" defer></script>
<script src="{% static 'geocommunity/searchnearby.js' %}" defer></script>
{% endblock customstyle %}

{% block title %}Communities{% endblock %}
{% block content%}
<div class="community-page">

    <div class="offer" x-data="{'modalopen':false}" x-cloak hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <button class="green-button" type="button" @click="modalopen=true">New Community
        </button>
        <div class="overlay" x-show="modalopen">
            {% include "registration/new_community_form.html" %}
        </div>

    </div>
    <div class="search">

        <input type="text" class="searchTerm" placeholder="Address to search for communities" autofocus>
        <button type="button" class="searchButton">
            <i class="fa fa-search"></i>

        </button>

        <button type="button" class="current-location" title="Get current location">
            <i class="fa-solid fa-crosshairs"></i>
        </button>



        <label class="distance" for="distance">Distance</label>

        <select name="distance" id="distance">
            <option value="5"> In 5km</option>
            <option value="2" selected>In 2km</option>
            <option value="1">In 1km</option>
        </select>
    </div>
    <div class="error-message"></div>
    <div id="map"></div>




</div>
{% endblock content %}