<!-- Communities Page or Page for communities search and create-->

{% extends "community/base.html" %}

{% load static%}

{% block customstyle%}

<script src="{% static 'posts/outmodal.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'geocommunity/index_style.css' %}">
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
{% endblock customstyle %}

{% block title %}Communities{% endblock %}
{% block content%}
<div class="community-page">

    <div class="offer" x-data="{'modalopen':false}" x-cloak hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <button class="green-button" type="button" @click="modalopen=true">New Community
        </button>
        <div class="overlay" x-show="modalopen">
            {% include "registration/new_community_form.html" %}
        </div>

    </div>
    <div class="search">

        <input type="text" class="searchTerm" placeholder="Address to search for communities" autofocus>
        <button type="button" class="searchButton">
            <i class="fa fa-search"></i>

        </button>

        <button type="button" class="current-location" title="Get current location">
            <i class="fa-solid fa-crosshairs"></i>
        </button>



        <label class="distance" for="distance">Distance</label>

        <select name="distance" id="distance">
            <option value="5"> In 5km</option>
            <option value="2" selected>In 2km</option>
            <option value="1">In 1km</option>
        </select>
    </div>




</div>
{% endblock content %}