<!DOCTYPE html>
<html lang="en">

{% load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Community{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'community/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'community/utility.css' %}">
    <link rel="stylesheet" href="{% static 'community/footer.css' %}">
    {% block customstyle%} {% endblock customstyle %}
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        main {
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="{% static 'community/js/htmx.min.js' %}" defer></script>
    <script src="{% static 'community/js/ext/debug.js' %}" defer></script>
    <script src="{% static 'community/js/cdn.min.js' %}" defer></script>
    {% load django_htmx %}
    {% django_htmx_script %}

</head>

<body>
    <header x-on:resize.window="open=(window.innerWidth<600)?false:true" x-data="{
            open:(window.innerWidth<600)?false:true,
            toggle(){
                this.open=this.open?this.close():true
            },
            close(){
                if(window.innerWidth<600){
                    this.open=false
                }
            }
        }" x-id="['dropdown-button']" x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
        x-on:keydown.escape.prevent.stop="close()">
        <h1> Community </h1>
        <button type="button" class="menu-icon" @click="toggle()" :aria-expanded="open"
            :aria-controls="$id('dropdown-button')">
            &#9776
        </button>
        <nav class="main-nav" x-show="open" @click.outside="close()" :id="$id('dropdown-button')" x-ref="panel">
            <ul class="left-nav">
                <li><a class="nav-item" href="{% url 'index-view'%}">Homepage</a></li>
                <li><a class="nav-item" href="{% url 'posts:postlist-view'%}">Offer</a></li>
                <li><a class="nav-item" href="{% url 'posts:schedule'%}">Schedule</a></li>
                <li><a class="nav-item" href="{% url 'polls:index-view'%}">Vote of the month</a></li>
            </ul>

            <ul class="right-nav">
                {%if request.user.is_authenticated%}
                <li><a class="nav-item" href="{% url 'accounts:community-view' %}">Communities</a></li>
                <li><a class="nav-item" href="#">Profile</a></li>

                {% else %}
                <li><a class="nav-item" href="{% url 'accounts:login'%}">Log In</a></li>
                <li><a class="nav-item" href="{% url 'accounts:signup' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <main>
        {% block content%} {% endblock content %}

    </main>

    <footer>Community is sharing</footer>

</body>

</html>