{% extends "registration/base.html" %}
{% load static%}

{% block customstyle%}
{{ block.super }}
<link rel="stylesheet" href="{% static 'accounts/login_style.css' %}">
{% endblock customstyle %}

{% block content %}


<form method="post" action="{% url 'accounts:login' %}">
    <h2> Welcome to Community<h2>
            <h3>To build a strong community</h3>
            <h3>We enable grocery shopping and sharing at wholesale discount for your neighborhood</h3>

            {% csrf_token %}

            {% for error in field.errors %}
            <p style="color: rgb(20, 19, 19)">{{ error }}</p>
            {% endfor %}


            {{ form.username.label_tag }}
            <p>{{ form.username }}</p>

            {{ form.password.label_tag }}
            <p>{{ form.password }}</p>

            <button value="login">login</button>
            <input type="hidden" name="next" value="{{ next }}" />
            <p class="message">Not registered? <a href="{% url 'accounts:signup' %}">Create an account</a></p>
            <p class="message"><a href="#">Forget password?</a></p>
</form>



{% endblock content %}