.search {
    width: 90%;
    display: flex;
    margin: auto;
}

@media (min-width:600px) {
    .search {
        width: 60%;
        display: flex;
        margin: auto;
    }
}


.modal {
    z-index: 5;
    background-color: white;
    grid-area: modal;
    padding: 5%;
    border-radius: 4px;
    overflow: auto;

}

@media (min-width:600px) {
    .overlay {
        grid-template-columns: 1fr 4fr 1fr;
    }
}

.overlay {
    z-index: 2;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-areas:
        ". . ."
        ". modal ."
        ". modal ."
        ". modal ."
        ". . ."
    ;
}

[x-cloak] {
    display: none;
}

button.green-button {
    margin-top: 1rem;
    padding: 0.6rem;
    margin-bottom: 1rem;
}

button.blue-button {
    margin-top: 1rem;
}

input,
select,
textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.4rem;
    resize: vertical;
}

input[type=text],
select,
textarea {
    width: 90%;
}

select#distance {
    width: 15%;
    min-width: 5.5rem;
    margin-left: 2rem;
}

label.distance {
    display: none;
}

.searchTerm {
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 2rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton,
.current-location {
    width: 4rem;
    height: 3rem;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.5rem;
}

.current-location {
    margin-left: 1rem;
}

#map {

    width: 80vw;
    height: 60vh;

    margin: auto;
}

.error-message {
    text-align: center;
    color: red;
}