a.nav-item {
    text-decoration: none;
    border-radius: 5%;
    text-transform: uppercase;
}

a.nav-item:hover {
    opacity: 50%;
}

.bubble-item {
    padding: 0.5rem;
    border-radius: 8px;
    margin: 1rem;
    background-color: #FAFAFA;
    cursor: pointer;
    box-shadow: 0px 8px 16px transparent;

}

.bubble-item:hover {
    box-shadow: 0px 8px 16px rgb(24 26 32 / 16%);
}

aside ul {
    list-style: url("images/link_image.svg");
    padding-left: 1.5rem;

}

button.generic-button,
button.green-button,
button.red-button,
button.blue-button,
button.black-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    color: black;
    border: 1.5px solid;

}

button.green-button {
    background-color: white;
    border-color: #4CAF50;
}

button.green-button:hover {
    background-color: #4CAF50;
    color: white;
}

button.blue-button {
    background-color: white;
    border-color: #3699b8d5;
}

button.blue-button:hover {
    background-color: #3699b8d5;
    color: white;
}

button.red-button:hover {
    background-color: red;
    color: white;
}

button.red-button {
    background-color: white;
    border-color: red;
}

button.black-button {
    background-color: white;
    border-color: black;
}

button.black-button:hover {
    background-color: black;
    color: white;
}