<div class="post-item" id="post{{post.id}}">
    <p><strong>{{post.community.name}}</strong></p>
    <p><strong>{{post.post_title}}</strong></p>
    <p>{{post.post_content}}</p>
    <p>From {{post.schedule_from}}</p>
    <p>To {{post.schedule_to}}</p>
    <img src="{{post.post_image.url}}" alt="Image for post"><br>
    {% if request.user == post.host %}
    {% include "posts/unhost_button.html" %}
    {% else %}
    {% if request.user in post.participants.all %}
    {% include "posts/participate.html"%}
    {% else %}
    {% include "posts/unparticipate.html" %}
    {% endif %}
    {% endif %}
</div>