<!-- The form for new post. It doens't have all the div because it's used with htmx and alpine for modal form -->

{% load static%}
<form class="modal" hx-post="{% url 'posts:newpost' %}" hx-swap="outerHTML" tabindex="-1"
    hx-encoding='multipart/form-data' @click.outside="modalopen=false">

    <h2>New Post</h2>
    {% if permissionerror %}
    <p>{{permissionerror}}</p>
    {% endif %}
    {% for field in form %}
    <div class="field">
        {{ field.label_tag }}
        <div>{{ field }}</div>
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" value="newpost" class="blue-button">Post</button>
</form>