{% extends "community/base.html" %}

{% load static%}

{% block customstyle%}
<link rel="stylesheet" href="{% static 'posts/schedule_style.css' %}">
<link rel="stylesheet" href="{% static 'posts/pagination.css' %}">
{% endblock customstyle %}
{% block title %}To Do{% endblock %}
{% block content%}
<div class="schedule">
    <section class="schedule-list">
        <h2>
            You can track your past and future schedule here
        </h2>
        <h3>
            Alarm and check will be available soon
        </h3>
    </section>
    <aside>
        <ul>
            <li>
                <a id='host-link' hx-get="{% url 'posts:todo'  %}" hx-trigger="click" hx-target=".schedule-list"
                    hx-swap="outerHTML">To
                    Do</a>
            </li>
            <li>
                <a id='share-link' hx-get="{% url 'posts:toshare' %}" hx-trigger="click" hx-target=".schedule-list"
                    hx-swap="outerHTML">
                    To
                    Share</a>
            </li>

        </ul>
    </aside>

</div>
{% endblock content %}