{% for post in post_list %}
<div class="schedule-item" id="post{{post.id}}">
    <strong><time>{{post.schedule_from}} - {{post.schedule_to}}</time></strong>
    <p>{{post.post_title}}</p>
    <p>{{post.post_content}}</p>
    <img src="{{post.post_image.url}}" alt="Image for todo list"><br>
    {% if not post.ispast %}
    {% if request.user == post.host %}
    {% include "posts/unhost_button.html" %}
    {% else %}
    {% if request.user in post.participants.all %}
    <button type="button" class="generic-button participated" hx-get="{% url 'posts:updateorder' post.id %}"
        hx-swap="delete" value="unparticipate" hx-target="#post{{post.id}}">Unparticipate</button>
    {% else %}
    {% include "posts/participate.html" %}
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endfor %}